<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<center>
<div style="border:3px; border-style:solid; border-color:3px solid #73AD21; padding: 1em; width: 40%;">
    <b>Password Reset</b>
    <p>
      </br>
      <img src="https://www.dropbox.com/s/inq2ug0nhdh9ji1/logo.png?raw=1" width="250" height="90" alt="golang Image"/>
    </p>
<p>&nbsp Hi <b>{{.NAME}}</b> ! Seems like you forgot your password for RetailGO.
  If this is true, click below to reset your password.<br></br>
<form action="{{.WebURL}}" method = "POST">
  <input type="hidden" name="resetToken" value="{{.TOKEN}}">
  <button type="submit" class="btn btn-primary">Reset My Password</button>
</form>
<p>If you did not forgot your password you can safely ignore this email.</p>
</div>
</center>
</body>
</html>
