<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<center>
<div style="border:3px; border-style:solid; border-color:3px solid #73AD21; padding: 1em; width: 40%;">
    <b>Welcome to GoProRetail !</b>
    <p>
        </br>
        <img src="https://www.dropbox.com/s/inq2ug0nhdh9ji1/logo.png?raw=1" width="250" height="90" alt="golang Image"/>
    </p>
<p>&nbsp Hello <b>{{.NAME}}</b> ! We’re excited to have you as our newest GoProRetail member.</p>
Please confirm your account with us by clicking the button below: <br></br>
<a class="btn btn-success" onclick="callVerify()">Confirm My Email</a>
<br></br>
<p>If you believe you received this email by mistake or have any questions,
<br>feel free to shoot us an email at <b>retailgo@yandex.com</b>.</p>
</div>
</center>
  <script>
      function callVerify(){
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            window.open(url, "{{.WebURL}}").focus();
          }
        };
        xhttp.open("PUT", "{{.APIURL}}", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.setRequestHeader("Token", "{{.TOKEN}}");
        xhttp.send();
      }
  </script>
</body>
</html>
